[submodule "claw-code-main"]
	path = claw-code-main
	url = https://github.com/mhold3n/claw-code.git
	branch = main
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/mhold3n/openclaw.git
	branch = main
